@model Models.GoldenTip

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GoldenTip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServerPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServerPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageBaseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageBaseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
